.body{
    margin-top: 200px;
    margin-left: 500px;
    max-width: 1000px;
    
}
h1{
    font-size: 50px;
    color: rgb(17, 160, 216) ;
}
.main{
    margin-bottom: 20px;
}
#input{
    border: solid rgb(17, 160, 216) 3px;
    border-radius: 5px;
    height: 40px;
    width: 250px;   
    outline: transparent;
    max-width: 25;

}
#input:hover{  
    border: none;
    border-radius: 0%;
    border-bottom:solid rgb(17, 160, 216) 3px;


}

button{
    height: 40px;
    width: 100px;
    background-color: skyblue;
    border: solid rgb(17, 160, 216) 2px;
    
}